page-home {
    .scroll {
        height: 100%
    }

    #map {
        width: 100%;
        height: 40%;
        // background: transparent url("../../assets/imgs/load.jpg") no-repeat center center;
    }

    .image{
        height: 50px;
        width: 50px;
    }

    .bothButtons{
        // top: 40%;
        // z-index: 10;
        margin-top: 68%;
    }

    // .searchbar{
    //     margin-top: 40%;
    // }

    // .data{
    //     margin-top: 5%;
    // }
    
}
